local-config.php
wp-cli.local.yml
vendor
html
bin

wp-content/uploads
wp-content/plugins
wp-content/mu-plugins
wp-content/dropins
wp-content/my-themes

.DS_Store
.idea
.project

# ignore the composer files
composer.lock

